
.hero {
	background-color: #3f51b5;
	padding: 10px 10px;
	color: #FFF;

	<!-- max-width: 800px;
	margin: 0px auto;
	-->
	
}

ul {

	padding: 0;
	margin: 0;
	list-style-type: none;

}

.logo {
	font-family: monospace;
	font-size: 50px;
	text-align: center;
	text-transform: uppercase;


}

.main {
	font-family: monospace;
	font-size: 30px;
	text-align: center;
	text-transform: uppercase;
}

.main-1 {
	padding-top: 10px;
	margin-bottom: 20px;
	padding-bottom: 10px;
	margin-top: 60px; 
}


.content {
	margin: 0 auto;
	max-width: 800px;

}
